.background-default
  background-position: center !important
  background-repeat: no-repeat !important
  background-size: contain !important
  transition: .3s all ease-in-out

.facebook-link
  background: url("../img/icons/fb-g.svg")
  filter: grayscale(100%)
  @extend .background-default
  &:hover
    filter: grayscale(0%)

.twitter-link
  background: url("../img/icons/tw-g.svg")
  filter: grayscale(100%)
  @extend .background-default
  &:hover
    filter: grayscale(0%)

.wordpress-link
  background: url("../img/icons/wp-g.svg")
  filter: grayscale(100%)
  @extend .background-default
  &:hover
    filter: grayscale(0%)

.linkedin-link
  background: url("../img/icons/in-g.svg")
  filter: grayscale(100%)
  @extend .background-default
  &:hover
    filter: grayscale(0%)

.mail-link
  background: url("../img/icons/mail-g.svg")
  filter: grayscale(100%)
  @extend .background-default
  &:hover
    filter: grayscale(0%)

.time-icon
  background: url("../img/icons/time.svg")
  @extend .background-default

.visio-icon
  background: url("../img/icons/visio.svg")
  @extend .background-default

.cabinet-icon
  background: url("../img/icons/cabinet.svg")
  @extend .background-default

.session-icon
  background: url("../img/icons/user.svg")
  @extend .background-default

.likes-icon
  background: url("../img/icons/like.svg")
  @extend .background-default

.comment-icon
  background: url("../img/icons/comment.svg")
  @extend .background-default

.location-icon
  background: url("../img/icons/mark.svg")
  @extend .background-default

.money-icon
  background: url("../img/icons/money.svg")
  @extend .background-default

.star-icon
  background: url("../img/icons/star.svg")
  @extend .background-default

.duration-icon
  background: url("../img/icons/duration.svg")
  @extend .background-default

.general-icon
  background: url("../img/icons/general.svg")
  @extend .background-default

.echange-icon
  background: url("../img/icons/echange.svg")
  @extend .background-default

.webcam-icon
  background: url("../img/icons/webcam.svg")
  @extend .background-default

.cart-icon
  background: url("../img/icons/cart.svg")
  @extend .background-default

.phone-icon
  background: url("../img/icons/phone.svg")
  @extend .background-default

.contact-icon
  background: url("../img/icons/contact.svg")
  @extend .background-default

.arrow-left-icon
  background: url("../img/icons/arrow-left.svg")
  @extend .background-default
  &:hover
    background: url("../img/icons/arrow-left-white.svg")

.arrow-right-icon
  background: url("../img/icons/arrow-right.svg")
  @extend .background-default

.link-icon
  background: url("../img/icons/link.svg")
  @extend .background-default
